body{
    font-family: 'Roboto',sans-serif;
}
.reg{
    font-weight: 400;
}
.med{
    font-weight: 500;
}
.lig{
    font-weight: 300;
}
.f14{
    font-size: 14px;
}
.f16{
    font-size: 16px;
}
.f20{
    font-size: 20px;
}
.f24{
    font-size: 24px;
}
.f36{
    font-size: 36px;
}
.h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 96px;
}
.h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 60px;
}
.h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 48px;
}
.h4{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 34px;
}
.h5{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
}
.h6{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
}
.subtitle1{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
}
.subtitle2{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
.body1{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
.body2{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
.button{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
}
.caption{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
}
.overline{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 10px;
}
.bold{
    font-weight: bold;
}
.fixed{
    position: fixed;
}
#side-nav{
    padding: 5px;
    width: 10%;
    top: 100px;
}
#top-nav{
    top: 0;
    left: 0;
    z-index: 5;
}
.top-nav-item{  
    margin: 10px;
    padding: 5px;
}
#side-nav .row{
    margin-top: 15px;
    margin-bottom: 15px;
}
#side-nav .row .col-2{
    opacity: 0;
}
.flex-dir-col{
    flex-direction: column;
}
.blue-color{
    color: #0015D1;
}
.top-xs{
    margin-top: 15px;
}
.top-sm{
    margin-top: 30px;
}
.top-md{
    margin-top: 60px;
}
.top-lg{
    margin-top: 90px;
}
.top-xl{
    margin-top: 120px;
}
.top-xxl{
    margin-top: 150px;
}
.b{
    border: 2px dashed black;
    padding: 5px;
}
.h{
    height: 500px;
}
#name-svg{
    position: fixed;
    top: 40px;
    z-index: 5;
}
hr{
    width: 80%;
}
.lh{
    line-height: 40px;
}

.bar-outer{
    height: 5px;
    width: 100%;
    background-color: rgba(41, 35, 35, 0.151);
}
.bar-fill-blue{
    margin: 0px;
    padding: 0px;
    height: 5px;
    background-color:#0015D1;
    width: 0%;
}
.bar-fill-green{
    margin: 0px;
    padding: 0px;
    height: 5px;
    background-color:#219653;
    width: 0%;
}
.bar-fill-pink{
    margin: 0px;
    padding: 0px;
    height: 5px;
    background-color:#BD0EDA;
    width: 0%;
}
.fill-75{
    width: 75%;
}
.fill-50{
    width: 50%;
}
.fill-100{
    width: 100%;
}
.custom-ml-exp{
    margin-left: 170px;
}
.m0p0{
    margin: 0px;
    padding: 0px;
}
.m0{
    margin: 0px;
}
.p0{
    margin: 0px;
}
.m-auto{
    margin: 0 auto;
}
.elevated-box{
    margin-top: 10px;
    box-shadow: 0px 0px 3px 2px rgba(128, 128, 128, 0.384);
    padding: 40px;
    border-radius: 20px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    /*body{
        background-color: #fff;
    }*/
    #top-nav{
        display: block;
    }
    #side-nav{
        display: none;
    }
    #name-svg{
        display: none;
    }
    #SKILLS .col-lg-6 .flex-dir-col{
        margin: 0 auto;
    }
    #SOFT-SKILLS .col-lg-6 .flex-dir-col{
        margin: 0 auto;
    }
    #OTHER-SKILLS .col-lg-6 .flex-dir-col{
        margin: 0 auto;
    }
    #EXPERIENCE .col-lg-10 div{
        margin-left: 0px;
    }
    #CONTACT .row .h2{
        font-size: medium;
    }
    #EDUCATION .container-fluid .row{
        margin-left: 0px;
    }
    
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    /*body{
        background-color: #555;
    }*/
    #INTRODUCTION .d-flex{
        justify-content: center;
    }
    #side-nav{
        display: none;
    }
    #name-svg{
        display: none;
    }
    #SKILLS .col-lg-6 .flex-dir-col{
        margin: 0 auto;
    }
    #SOFT-SKILLS .col-lg-6 .flex-dir-col{
        margin: 0 auto;
    }
    #OTHER-SKILLS .col-lg-6 .flex-dir-col{
        margin: 0 auto;
    }
    .top-nav-item i{
        font-size: 25px;
        margin-top: 10px;
    }
    /*#EXPERIENCE .col-lg-10 div{
        margin-left: 0px;
    }*/
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    /*body{
        background-color: #999;
    }*/
    #side-nav{
        display: none;
    }
    .top-nav-item i{
        font-size: 35px;
        margin-top: 15px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    /*body{
        background-color: #BBB
    }*/
    #side-nav{
        display: block;
        margin-left: 5%;
    }
    #INTRODUCTION .d-flex{
        justify-content: start;
    }
    #name-svg{
        display: block;
        left: 45%;
    }
    #top-nav{
        display: none;
    }
    #SKILLS .col-lg-6 .flex-dir-col{
        margin: 0px;
    }
    #SOFT-SKILLS .col-lg-6 .flex-dir-col{
        margin: 0px;
    }
    #OTHER-SKILLS .col-lg-6 .flex-dir-col{
        margin: 0px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    /*body{
        background-color: #FFF;
    }*/
   #side-nav{
    display: block;
       margin-left: 7%;
   }
} 